<div class="alert alert-danger" *ngIf="!!error" align="center"><strong>{{ error.title }}<br></strong>{{ error.text }}</div>

<form>
 
<div class="form-group">
  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" >
</div>
<div class="form-group">
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" >
</div>
<label for="sel1">Utilisateur :</label>
<div>
  <select class="form-control" id="type" name="type">
    <option>Eleve</option>
    <option>Intervenant</option>
    <option>Pilote</option>
  </select>
  <br>
</div>
<p><button type="submit" class="btn btn-primary"  (click)="login()">Connexion</button></p>

</form>