<div class="form-group">
  <label for="sel1">Filieres :</label>
  <select id="filiere" class="form-control" name="filiere" (change)="updateFilieres()" >
    <option  *ngFor="let filiere of filieres" value="{{filiere.idFiliere}}">{{filiere.libelleFiliere}}</option>
  </select>
  <label for="sel1">Promotions :</label>
  <select class="form-control" id="promotion" name="promotion" (change)="updatePromotions()">
    <option  *ngFor="let promotion of promotions" value="{{promotion.idPromotion}}">{{promotion.libellePromotion}}</option>
  </select>
  <label for="sel1">Modules :</label>
  <select class="form-control" id="module" name="module" (change)="updateModules()">
    <option  *ngFor="let module of modules" >{{module.libelleModule}}</option>
  </select>
</div>
<form  #myForm="ngForm" >      
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Etudiant</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody *ngFor="let etudiantNote of etudiantsNotes">
      <tr>
        <td>{{etudiantNote.elevePrenom}} {{etudiantNote.eleveNom}}</td>
        <td>
              <input [name]="etudiantNote.idEleve" type="float" class="form-control" id="noteValeur" [(ngModel)]="etudiantNote.noteValeur">     
        </td>
      </tr>
      <input id="idEleve" name="idEleve" type="hidden" value="{{etudiantNote.idEleve}}">
      <input id="idNote" name="idNote" type="hidden" value="{{etudiantNote.idNote}}">
    </tbody>
    <div *ngIf="isSaisi">
      
      <button type="submit" class="btn btn-primary" (click)="updateNotes(myForm)">Modifier</button>
    </div>
    <div *ngIf="!isSaisi">
      
      <button type="submit" class="btn btn-primary" (click)="createNotes(myForm)">Valider</button>
    </div>
    
  
    </table>
  
</form>

