
<div class="card card-container">
    
<div class="container">

<div class="form-group">
  <label for="sel1">Filieres :</label>
  <select id="filiere" class="form-control" name="filiere" (change)="updateFilieres()" >
      <option>Selectionner une filiere</option>
      
    <option  *ngFor="let filiere of filieres" value="{{filiere.idFiliere}}" >{{filiere.libelleFiliere}}</option>
  </select>
  <label for="sel1">Promotions :</label>
  <select class="form-control" id="promotion" name="promotion" (change)="updatePromotions()">
      <option>Selectionner une promotion</option>
      
    <option  *ngFor="let promotion of promotions" value="{{promotion.idPromotion}}">{{promotion.libellePromotion}}</option>
  </select>
  <label for="sel1">Modules :</label>
  <select class="form-control" id="module" name="module" (change)="updateModules()">
      <option>Selectionner un module</option>
      
    <option  *ngFor="let module of modules">{{module.libelleModule}}</option>
  </select>
</div>
<form  #myForm="ngForm">      
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Etudiant</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody *ngFor="let etudiantNote of etudiantsNotes">
      <tr>
        <td>{{etudiantNote.eleveNom}} {{etudiantNote.elevePrenom}}</td>
        <td>
              {{etudiantNote.noteValeur}}   
        </td>
      </tr>  
    </tbody>
    
  
    </table>
    <div *ngIf="!isValid">
        
        <button type="submit" class="btn btn-primary" (click)="validateNotes()">Valider</button>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="isValid">
          
          <label>Notes validées</label>        
      </div>
</form>
</div>
</div>
